@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
  /* 공통 클레스 */
  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif !important; */
    font-size: 1.3rem;
  }

  html {
    font-size: 10px;
  }
  select,
  input,
  textarea,
  button {
    padding: 0.5rem 1rem;
    outline: none;
  }
  
  textarea {
    resize: none;
  }

  .wrap {
    width: 70%;
    margin: 0 auto;
  }

  .post-section {
    width: 77%;
    margin-left: 3%;
  }

  /* width  */
  .full-width {
    width: 100%;
  }

  /* align */
  .flex {
    display: flex;
  }

  .between {
    justify-content: space-between;
  }

  .around {
    justify-content: space-around;
  }

  .center {
    justify-content: center;
  }

  .block {
    display: block;
  }

  .inline {
    display: inline;
  }

  .inline-bolok {
    display: inline-block
  }

  .none {
    display: none;
  }

  .align-center {
    align-items: center;
  }

  .align-top {
    align-items: flex-start
  }

  /* text */
  .bold {
    font-weight: bold;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .x-auto {
    margin: 0 auto;
  }

  .y-auto {
    margin: auto 0;
  }

  .decoration {
    text-decoration: underline;
  }

  .color-666 {
    color: #666;
  }
  .color-grey {
    color: rgb(163, 163, 163);
  }

  .color-bk {
    color: #000;
  }

  .color-fff {
    color: #fff;
  }

  .color-red {
    color: #ff4e59;
  }

  .font-size {
    font-size: 0.8rem;
  }
  .font-size-s {
    font-size: 1rem;
  }
  .font-size-m {
    font-size: 1.5rem;
  }
  .font-size-l {
    font-size: 2rem;
  }
 

  /* cursor */
  .pointer {
    cursor: pointer;
  }


  /* border */
  .border-ccc {
    border: 1px solid #ccc;
  }

  .border-bottom-ccc {
    border-bottom: 1px solid #ccc;
  }

  .border-top-ccc {
    border-top: 1px solid #ccc;
  }

  /* padding */
  .padding-top-s {
    padding-top: 1rem;
  }

  .padding-bottom-s {
    padding-bottom: 1rem;
  }

  .padding-top-m {
    padding-top: 2rem;
  }

  .padding-bottom-m {
    padding-bottom: 2rem;
  }

  .padding-y-s {
    padding: 1rem 0;
  }

  .padding-y-m {
    padding: 2rem 0;
  }

  .padding-x-s {
    padding: 0 1rem;
  }

  .padding-x-m {
    padding: 0 2rem;
  }

  .padding-all-s {
    padding: 1rem;
  }

  .padding-all-m {
    padding: 2rem;
  }

  /* margin */
  .margin-top-s {
    margin-top: 1rem;
  }

  .margin-bottom-s {
    margin-bottom: 1rem;
  }

  .margin-top-m {
    margin-top: 2rem;
  }

  .margin-top-l {
    margin-top: 3rem;
  }

  .margin-bottom-m {
    margin-bottom: 2rem;
  }

  .margin-y-s {
    margin: 1rem 0;
  }

  .margin-y-m {
    margin: 2rem 0;
  }

  .margin-x-s {
    margin: 0 1rem;
  }

  .margin-x-m {
    margin: 0 2rem;
  }

  .margin-all-s {
    margin: 1rem;
  }

  .margin-all-m {
    margin: 2rem;
  }

  /* 프로필 마크업 */
  .header-profile {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin: auto 1rem auto 0;
    background-color: #f0f;
  }

  /* hover */
  .hover-underline:hover {
    text-decoration: underline;
  }