<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/ohter.css">
  <link rel="stylesheet" href="/style/header.css">
  <link rel="stylesheet" href="/style/aside.css">
  <link rel="stylesheet" href="/style/index.css">
  <script src="https://kit.fontawesome.com/08a7424104.js" crossorigin="anonymous"></script>

  <style>
    #main-img {
      height: 200px;
      background-color: #0f0;
    }
  </style>
</head>

<body>
  <div class="wrap">

    <!-- header -->
    <header>
      <div id="header-wrap">
        <article id="header-logo-box">
          <h1><a href="./index.html">Logo</a></h1>
          <!-- 로그인 상태가 아닌 경우 -->
          <div>
            <a href="./login.html?login" id="login-btn">LOGIN</a>
            <a href="./login.html?join" id="join-btn">JOIN</a>
          </div>
        </article>
        <article id="nav">
          <nav>
            <a href="./index.html">HOME</a>
            <a href="/layout/postInsert.html">ADD</a>
            <a href="#">INFO</a>
          </nav>
        </article>
      </div>
    </header>

    <section id="main">
      <div id="main-wrap" class="flex">

      <!-- side 메뉴 -->
      <aside>
        <!-- 로그인 상태인 경우 사용자의 프로필 -->
        <div id="profile">
          <div>
            <div id="profile-info" class="flex">
              <div class="header-profile"></div>
              <div>
                <h4>nickname</h4>
                <span>2022.02.06</span>
              </div>
            </div>
          </div>
          <div>
            <li class="profile-card flex between color-666">
              <span class="profile-title font-size-s">방문</span>
              <span class="profile-content font-size-s">10회</span>
            </li>
            <li class="profile-card flex between color-666">
              <span class="profile-title font-size-s">내가쓴 게시글</span>
              <a href="#" class="profile-content font-size-s hover-underline color-666">3개</a>
            </li>
            <li class="profile-card flex between color-666">
              <span class="profile-title font-size-s">내가 쓴 댓글</span>
              <a href="#" class="profile-content font-size-s hover-underline color-666">82개</a>
            </li>
          </div>
        </div>

        <div class="card">
          <span class="aside-title bold block">Category1</span>
          <li class="aside-content">
            <a href="./post.html">sub-category</a>
          </li>
          <li class="aside-content">
            <a href="./post.html">sub-category</a>
          </li>
          <li class="aside-content">
            <a href="./post.html">sub-category</a>
          </li>
        </div>
        <div class="card">
          <span class="aside-title bold block">Category2</span>
          <li class="aside-content">
            <a href="./post.html">sub-category</a>
          </li>
          <li class="aside-content">
            <a href="./post.html">sub-category</a>
          </li>
          <li class="aside-content">
            <a href="./post.html">sub-category</a>
          </li>

        </div>
      </aside>


        <!-- 게시글 화면 -->
        <section class="post-section">

          <!-- 메인 배너 -->
          <div id="main-img"></div>

          <article class="post-wrap flex between">
            <!-- 이미지 형식 -->
            <!-- 하나의 포스트 영역 -->
            <div class="post-box">
              <div class="post-box-title flex between">
                <h4>카테고리명</h4>
                <a href="post.html" class="font-size-s color-666">
                  더보기
                  <i class="fa-solid fa-angle-right font-size-s"></i>
                </a>
              </div>
              <!-- 게시글을 감싸는 부모 클레스  -->
              <div class="post-box-wrap flex">
                <!-- 하나의 게시글 -->
                <a href="./postDetail.html" class="post-box-content color-bk">
                  <div class="post-box-content-img"></div>
                  <span class="post-box-content-title block bold">TITLE</span>
                  <span class="post-box-content-content block ">nickname</span>
                  <div class="post-box-content-ohter flex">
                    <span class="post-box-content-date color-666 font-size-s">15:31</span>
                    <span class="post-box-content-hit color-666 font-size-s ">조회 30</span>
                  </div>
                </a>
                <a href="./postDetail.html" class="post-box-content color-bk">
                  <div class="post-box-content-img"></div>
                  <span class="post-box-content-title block bold">TITLE</span>
                  <span class="post-box-content-content block ">nickname</span>
                  <div class="post-box-content-ohter flex">
                    <span class="post-box-content-date color-666 font-size-s">15:31</span>
                    <span class="post-box-content-hit color-666 font-size-s">조회 30</span>
                  </div>
                </a>
              </div>
            </div>
            
            <!-- 하나의 포스트 영역 -->
            <div class="post-box">
              <div class="post-box-title flex between">
                <h4>카테고리명</h4>
                <a href="./post.html" class="font-size-s color-666">
                  더보기
                  <i class="fa-solid fa-angle-right font-size-s"></i>
                </a>
              </div>
              <!-- 게시글을 감싸는 부모 클레스  -->
              <div class="post-box-wrap flex">
                <!-- 하나의 게시글 -->
                <a href="./postDetail.html" class="post-box-content color-bk">
                  <div class="post-box-content-img"></div>
                  <span class="post-box-content-title block bold">TITLE</span>
                  <span class="post-box-content-content block ">nickname</span>
                  <div class="post-box-content-ohter flex">
                    <span class="post-box-content-date color-666 font-size-s">15:31</span>
                    <span class="post-box-content-hit color-666 font-size-s">조회 30</span>
                  </div>
                </a>
                <a href="./postDetail.html" class="post-box-content color-bk">
                  <div class="post-box-content-img"></div>
                  <span class="post-box-content-title block bold">TITLE</span>
                  <span class="post-box-content-content block ">nickname</span>
                  <div class="post-box-content-ohter flex">
                    <span class="post-box-content-date color-666 font-size-s">15:31</span>
                    <span class="post-box-content-hit color-666 font-size-s">조회 30</span>
                  </div>
                </a>
                <a href="./postDetail.html" class="post-box-content color-bk">
                  <div class="post-box-content-img"></div>
                  <span class="post-box-content-title block bold">TITLE</span>
                  <span class="post-box-content-content block ">nickname</span>
                  <div class="post-box-content-ohter flex">
                    <span class="post-box-content-date color-666 font-size-s">15:31</span>
                    <span class="post-box-content-hit color-666 font-size-s">조회 30</span>
                  </div>
                </a>
                <a href="./postDetail.html" class="post-box-content color-bk">
                  <div class="post-box-content-img"></div>
                  <span class="post-box-content-title block bold">TITLE</span>
                  <span class="post-box-content-content block ">nickname</span>
                  <div class="post-box-content-ohter flex">
                    <span class="post-box-content-date color-666 font-size-s">15:31</span>
                    <span class="post-box-content-hit color-666 font-size-s">조회 30</span>
                  </div>
                </a>
              </div>
            </div>

            <!-- 게시판 형식 -->
            <div class="post-box">
              <div class="post-box-title flex between">
                <h4>카테고리명</h4>
                <a href="./post.html" class="font-size-s color-666">
                  더보기
                  <i class="fa-solid fa-angle-right font-size-s"></i>
                </a>
              </div>
              <div class="post-box-wrap">
                <!-- 하나의 게시글 -->
                <li class="post-list">
                  <a href="./postDetail.html" class="flex between">
                    <span class="post-list-title block color-bk bold">content</span>
                    <span class="color-666 font-size-s">nickname</span>
                  </a>
                </li>
                <li class="post-list">
                  <a href="./postDetail.html" class="flex between">
                    <span class="post-list-title block color-bk bold">content</span>
                    <span class="color-666 font-size-s">nickname</span>
                  </a>
                </li>
                <li class="post-list">
                  <a href="./postDetail.html" class="flex between">
                    <span class="post-list-title block color-bk bold">content</span>
                    <span class="color-666 font-size-s">nickname</span>
                  </a>
                </li>
                <li class="post-list">
                  <a href="./postDetail.html" class="flex between">
                    <span class="post-list-title block color-bk bold">content</span>
                    <span class="color-666 font-size-s">nickname</span>
                  </a>
                </li>
              </div>
            </div>
          </article>
        </section>
      </div>
    </section>

  </div>
</body>

</html>