<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/ohter.css">
  <link rel="stylesheet" href="/style/header.css">
  <link rel="stylesheet" href="/style/aside.css">
  <link rel="stylesheet" href="/style/memberView.css">
  <script src="https://kit.fontawesome.com/08a7424104.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrap">

    <!-- header -->
    <header>
      <div id="header-wrap">
        <article id="header-logo-box">
          <h1><a href="./index.html">Logo</a></h1>
          <!-- 로그인 상태가 아닌 경우 -->
          <div>
            <a href="./login.html" id="login-btn">LOGIN</a>
            <a href="./login.html" id="join-btn">JOIN</a>
          </div>
        </article>
        <article id="nav">
          <nav>
            <a href="./index.html">HOME</a>
            <a href="./postInsert.html">ADD</a>
            <a href="./memberInfo.html">INFO</a>
          </nav>
        </article>
      </div>
    </header>

    <section id="main">
      <div id="main-wrap" class="flex">

        <!-- side 메뉴 -->
        <aside>
          <!-- 로그인 상태인 경우 사용자의 프로필 -->
          <div id="profile">
            <div>
              <div id="profile-info" class="flex">
                <div class="header-profile"></div>
                <div>
                  <h4>nickname</h4>
                  <span class="font-size-s">2022.02.06</span>
                </div>
              </div>
            </div>
            <div>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">방문</span>
                <span class="profile-content font-size-s">10회</span>
              </li>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">내가쓴 게시글</span>
                <a href="./memberView.html" class="profile-content font-size-s hover-underline color-666">3개</a>
              </li>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">내가 쓴 댓글</span>
                <a href="./memberView.html" class="profile-content font-size-s hover-underline color-666">82개</a>
              </li>
            </div>
          </div>

          <div class="card">
            <span class="aside-title bold block">Category1</span>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
          </div>
          <div class="card">
            <span class="aside-title bold block">Category2</span>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>

          </div>
        </aside>

        <!-- 게시글 화면 -->
        <section class="post-section">
          <!--  -->
          <div id="profile">
            <div>
              <div id="profile-info" class="flex">
                <div class="header-profile"></div>
                <div>
                  <h4>nickname</h4>
                  <span id="grade" class="font-size-s">grade</span>
                  <span class="font-size-s">작성글 1</span>
                </div>
              </div>
            </div>
          <div>

          <!-- 다른 회원의 프로필일 경우에만 보임 -->
          <ul id="post-option" class="flex margin-y-s">
            <li><a href="#" class="color-green bold current-option">작성글</a></li>
            <li class="margin-x-s"><a href="#">댓글단 글</a></li>
          </ul>
          <div id="table-view">
            <!-- 작성글을 클릭했을 때 보이는 테이블 default view -->
            <table class="text-center font-size">
              <thead>
                <tr>
                  <th class="post-title">제목</th>
                  <th class="post-date">작성일</th>
                  <th class="post-hit">조회</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left">
                    <a href="./postDetail.html" class="post-title color-666">
                      <span class="post-count inline-bolok text-center">1</span>
                      <span>역대급 머리 손질법</span>
                      <span class="color-red">[2]</span>
                    </a>
                  </td>
                  <td class="post-date">2022.11.16</td>
                  <td class="post-hit">3</td>
                </tr>
              </tbody>
            </table>

            <!-- 댓글단 글을 클릭했을 때 보이는 테이블 -->
            <!-- <table class="text-center font-size">
              <thead>
                <tr>
                  <th class="post-title text-">제목</th>
                  <th class="post-writer">작성자</th>
                  <th class="post-date">작성일</th>
                  <th class="post-hit">조회</th>
                  <th class="post-like">좋아요</th>
                </tr>
              </thead>
              <tbody>
                <tr class="post-notice">
                  <td class="text-left">
                    <a href="./postDetail.html" class="post-title post-notice-title bold">
                      <span class="post-count inline-bolok text-center">[공지]</span>
                      <span>11월, 다시 없을 역대급 블프가 온다!!</span>
                      <span>[142]</span>
                    </a>
                  </td>
                  <td class="post-writer">관리자</td>
                  <td class="post-date">2022.11.14</td>
                  <td class="post-hit">3,520</td>
                  <td class="post-like">32</td>
                </tr>
                <tr>
                  <td class="text-left">
                    <a href="./postDetail.html" class="post-title color-666">
                      <span class="post-count inline-bolok text-center">1</span>
                      <span>역대급 머리 손질법</span>
                      <span>[2]</span>
                    </a>
                  </td>
                  <td class="post-writer">강문호</td>
                  <td class="post-date">2022.11.16</td>
                  <td class="post-hit">3</td>
                  <td class="post-like">1</td>
                </tr>
              </tbody>
            </table> -->      
        </div>
        </section>

      </div>
    </section>
  </div>
</body>

</html>