<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/ohter.css">
  <link rel="stylesheet" href="/style/header.css">
  <link rel="stylesheet" href="/style/aside.css">
  <script src="https://kit.fontawesome.com/08a7424104.js" crossorigin="anonymous"></script>
  
  <style>
    #member-info-form {
      width: 100%;
      border-top: 1px solid #666;
      /* margin-right: 10%; */
    }
    #member-info-form article:first-child {
      width: 70%;
    }
    #member-info-form input {
      width: 80%;
    }
    #profile-wrap {
      width: 30%;
    }
    #profile-wrap {
      width: 20rem;
      height: 20rem;
    }
    #profile-wrap .header-profile {
      width: 20rem;
      height: 20rem;
      margin-right: 0;
    }
  </style>
</head>

<body>
  <div class="wrap">

    <!-- header -->
    <header>
      <div id="header-wrap">
        <article id="header-logo-box">
          <h1><a href="./index.html">Logo</a></h1>
          <!-- 로그인 상태가 아닌 경우 -->
          <div>
            <a href="./login.html" id="login-btn">LOGIN</a>
            <a href="./login.html" id="join-btn">JOIN</a>
          </div>
        </article>
        <article id="nav">
          <nav>
            <a href="./index.html">HOME</a>
            <a href="./postInsert.html">ADD</a>
            <a href="./memberInfo.html">INFO</a>
          </nav>
        </article>
      </div>
    </header>

    <section id="main">
      <div id="main-wrap" class="flex">

        <!-- side 메뉴 -->
        <aside>
          <!-- 로그인 상태인 경우 사용자의 프로필 -->
          <div id="profile">
            <div>
              <div id="profile-info" class="flex">
                <div class="header-profile"></div>
                <div>
                  <h4>nickname</h4>
                  <span class="font-size-s">2022.02.06</span>
                </div>
              </div>
            </div>
            <div>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">방문</span>
                <span class="profile-content font-size-s">10회</span>
              </li>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">내가쓴 게시글</span>
                <a href="./memberView.html" class="profile-content font-size-s hover-underline color-666">3개</a>
              </li>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">내가 쓴 댓글</span>
                <a href="./memberView.html" class="profile-content font-size-s hover-underline color-666">82개</a>
              </li>
            </div>
          </div>

          <div class="card">
            <span class="aside-title bold block">Category1</span>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
          </div>
          <div class="card">
            <span class="aside-title bold block">Category2</span>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>

          </div>
        </aside>

        <!-- 사용자 정보 view  -->
        <section class="post-section">
          <h3 class="font-size-l margin-y-s">개인정보수정</h3>
          <div id="member-info-wrap">
            <form id="member-info-form" class="flex" action="">
              <article>
                <div class="input-wrap margin-y-m">
                  <label for="name" class="block margin-bottom-s">Name</label>
                  <input id="name" value="강문호" disabled />
                </div>
                <div class="input-wrap margin-y-m">
                  <label for="email" class="block margin-bottom-s">Email</label>
                  <input id="email" type="email" value="rkdans113@naver.com" disabled />
                </div>
                <div class="input-wrap  margin-y-m">
                  <label for="password" class="block margin-bottom-s">Password</label>
                  <input id="password" type="password"/>
                </div>
                <div class="input-wrap  margin-y-m">
                  <label for="password-chk" class="block margin-bottom-s">Confirm password</label>
                  <input id="password-chk" type="password"/>
                </div>
              </article>

              <!-- 프로필 이미지 설정 -->
              <!-- https://iamiet.tistory.com/68 참고  -->
              <article id="profile-wrap" class="text-center margin-y-m">
                <label for="profile-img">Profile</label>
                <div id="profile">
                  <div>
                    <div class="margin-y-m">
                      <div class="header-profile"></div>
                    </div>
                  </div>
                  <div>
                  <div>
                    <!-- 이미지 파일만 업로드 가능하도록 설정 -->
                    <input type="file" id="profile-img" class="pointer" accept="image/*">
                  </div>
              </article>
            </form>
          </div>
        </section>

      </div>
    </section>
  </div>
</body>

</html>