<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/ohter.css">
  <link rel="stylesheet" href="/style/header.css">
  <link rel="stylesheet" href="/style/aside.css">
  <link rel="stylesheet" href="/style/post.css">
  <script src="https://kit.fontawesome.com/08a7424104.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrap">

    <!-- header -->
    <header>
      <div id="header-wrap">
        <article id="header-logo-box">
          <h1><a href="./index.html">Logo</a></h1>
          <!-- 로그인 상태가 아닌 경우 -->
          <div>
            <a href="./login.html" id="login-btn">LOGIN</a>
            <a href="./login.html" id="join-btn">JOIN</a>
          </div>
        </article>
        <article id="nav">
          <nav>
            <a href="./index.html">HOME</a>
            <a href="./postInsert.html">ADD</a>
            <a href="./memberInfo.html">INFO</a>
          </nav>
        </article>
      </div>
    </header>

    <section id="main">
      <div id="main-wrap" class="flex">

        <!-- side 메뉴 -->
        <aside>
          <!-- 로그인 상태인 경우 사용자의 프로필 -->
          <div id="profile">
            <div>
              <div id="profile-info" class="flex">
                <div class="header-profile"></div>
                <div>
                  <h4>nickname</h4>
                  <span class="font-size-s">2022.02.06</span>
                </div>
              </div>
            </div>
            <div>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">방문</span>
                <span class="profile-content font-size-s">10회</span>
              </li>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">내가쓴 게시글</span>
                <a href="./memberView.html" class="profile-content font-size-s hover-underline color-666">3개</a>
              </li>
              <li class="profile-card flex between color-666">
                <span class="profile-title font-size-s">내가 쓴 댓글</span>
                <a href="./memberView.html" class="profile-content font-size-s hover-underline color-666">82개</a>
              </li>
            </div>
          </div>

          <div class="card">
            <span class="aside-title bold block">Category1</span>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
          </div>
          <div class="card">
            <span class="aside-title bold block">Category2</span>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>
            <li class="aside-content">
              <a href="./post.html">sub-category</a>
            </li>

          </div>
        </aside>
        
        <!-- 게시글 화면 -->
        <section class="post-section">
          <article id="post-content">
            <h3 class="font-size-l margin-y-s">Category Name</h3>
            <table class="text-center font-size">
              <thead>
                <tr>
                  <th class="post-title text-">제목</th>
                  <th class="post-writer">작성자</th>
                  <th class="post-date">작성일</th>
                  <th class="post-hit">조회</th>
                  <th class="post-like">좋아요</th>
                </tr>
              </thead>
              <tbody>
                <!-- 공지사항인 경우 post-notice, post-notice-title 클래스 추가 -->
                <tr class="post-notice">
                  <td class="text-left">
                    <a href="./postDetail.html" class="post-title post-notice-title bold">
                      <span class="post-count inline-bolok text-center">[공지]</span>
                      <span>11월, 다시 없을 역대급 블프가 온다!!</span>
                      <span>[142]</span>
                    </a>
                  </td>
                  <td class="post-writer">관리자</td>
                  <td class="post-date">2022.11.14</td>
                  <td class="post-hit">3,520</td>
                  <td class="post-like">32</td>
                </tr>
                <!-- 일반 게시물 -->
                <tr>
                  <td class="text-left">
                    <a href="./postDetail.html" class="post-title color-666">
                      <span class="post-count inline-bolok text-center">1</span>
                      <span>역대급 머리 손질법</span>
                      <span class="color-red">[2]</span>
                    </a>
                  </td>
                  <td class="post-writer">
                    <a href="./memberView.html" class="color-666">강문호</a>
                  </td>
                  <td class="post-date">2022.11.16</td>
                  <td class="post-hit">3</td>
                  <td class="post-like">1</td>
                </tr>
              </tbody>
            </table>
          </article>

          <article id="post-seach" class="text-center">
            <!-- 카테고리 내용 검색 폼  -->
            <form action="" id="post-search-form" class="">
              <select name="" id="select-box block" class="pointer">
                <option value="post">게시글</option>
                <option value="comment">댓글</option>
                <option value="writer">작성자</option>
              </select>
              <input type="text" id="post-search-content" placeholder="내용을 입력해주세요.">
              <button id="post-search-btn" class="pointer color-fff">검색</button>
            </form>
          </article>
        </section>

      </div>
    </section>
  </div>
</body>

</html>